<div class="upcoming-container">
    <section class="scroller">
        <div class="pt-5 flex1 h-100 flex-space-between align-self">
            <div class="flex-col flex1">
                <div class="flex flex-col">
                    <div class="flex">
                        <div class="flex flex-col w100 flex-center">
                            <p class="flex1 flex justify-center p30d24m orbitron bold flex-row flex1 mb30">MoonBox Drops</p>
                            <div class="tabs-container flex flex-xs-col mb30">
                                <a class="tab" [ngClass]="getButtonType(dropsCategory.RECENT)" (click)="changeTab(dropsCategory.RECENT)">Recent</a>
                                <a class="tab" [ngClass]="getButtonType(dropsCategory.LIVE)" (click)="changeTab(dropsCategory.LIVE)">Live</a>
                                <a class="tab" [ngClass]="getButtonType(dropsCategory.UPCOMING)" (click)="changeTab(dropsCategory.UPCOMING)">Upcoming</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col">    
                    <div class="upcoming flex flex-wrap wrap">
                        <ng-container *ngFor="let item of list[currentCategory]; let i = index; trackBy: trackByFn;">
                            <div *ngIf="!(this.NSFWToggleState && item['NSFW'])" class="flex-col flex-center p-3 grid-4">

                                <a *ngIf="currentCategory === dropsCategory.LIVE" class="flex1 nft_img flex-center" [routerLink]="item.isAdmin ? ['/buy_moonbase'] : ['/artist_moonbase',item.walletAddress]">
                                    <div class="relative res-box upcoming-img" [style.background]="'url('+item.filePath+')'"></div>
                                </a>
                                
                                <a *ngIf="item.revealDate === 'Application form'" href="{{item.url}}" target="_blank" class="flex1 nft_img flex-center">
                                    <div class="relative res-box upcoming-img" [style.background]="'url('+item.filePath+')'"></div>
                                </a>

                                <div class="flex flex-col flex1 w100 mt10">
                                    <div class="text-center word-break">
                                        <div class="flex align-left flex-col mb10 mt10">
                                            <p class="p18">{{item.name}}</p>
                                            <p class="color-primary">{{item.ArtistName}}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="border-top-bottom mt10 mb20">
                                        <div class="flex justify-space-between">
                                            <p class="color-primary mb10 mt10">Price</p>
                                            <p class="color-primary mb10 mt10">{{getMinPrice(item)}} BNB</p>
                                        </div>
                                        <div class="flex justify-space-between">
                                            <p class="color-primary mb10">Availability</p>
                                            <p class="color-primary mb10">{{item.supply}}/{{item.TotalMaxSupply}}</p>
                                        </div>
                                    </div>

                                    <div *ngIf="currentCategory === dropsCategory.UPCOMING && item.revealDate !== 'Application form'" class="button text-inherit mb20 coundown-button default-cursor">
                                        <div class="tooltip">
                                            <div class="row">Available soon</div>
                                        </div>
                                        <img src="assets/media/icons/drops/coundown.svg" alt="coundown-button">
                                        <app-countdown-timer [date]="item.revealDate"></app-countdown-timer>
                                    </div>

                                    <a *ngIf="currentCategory === dropsCategory.UPCOMING && item.revealDate === 'Application form'" href="{{item.url}}" target="_blank" class="pointer button text-inherit mb20 coundown-button">
                                        <img src="assets/media/images/form.svg" alt="coundown-button">
                                        <p>{{item.revealDate}}</p>  
                                    </a>

                                    <a *ngIf="currentCategory === dropsCategory.LIVE" class="button text-inherit mb20" [routerLink]="item.isAdmin ? ['/buy_moonbase'] : ['/artist_moonbase',item.walletAddress]">Buy MoonBoxes</a>
                                    <a [class.disabled]="item.revealDate === 'Application form'" class="outlined-button mb20 text-inherit" (click)="setSelected(selectedIndex,item)">Collection info</a>
                                </div>
                            </div>
                        </ng-container>

                        <!------ List  -->
                        <div id="collection-info" class="collection-info" *ngIf="lootBoxDetails[selectedIndex] != undefined">
                            <div class="collection-inner">
                                <div class="left relative flex-col">

                                    <img src="{{lootBoxDetails[selectedIndex].filePath}}" class="img-fluid mb30 collection-info-img" alt="">
                                    <div class="border-bottom mt10 mb20">
                                        <div class="flex justify-space-between">
                                            <p class="color-primary mb10 mt10">Price</p>
                                            <p class="color-primary mb10 mt10">{{getMinPrice(lootBoxDetails[selectedIndex])}} BNB</p>
                                        </div>
                                        <div class="flex justify-space-between">
                                            <p class="color-primary mb10">Availability</p>
                                            <p class="color-primary mb10">{{lootBoxDetails[selectedIndex].supply}}/{{lootBoxDetails[selectedIndex].TotalMaxSupply}}</p>
                                        </div>
                                    </div>
                                    <div class="flex justify-space-between">
                                        <a *ngIf="currentCategory === dropsCategory.UPCOMING" class="button text-inherit mb20 coundown-button w100">
                                            <img src="assets/media/icons/drops/coundown.svg" alt="coundown-button">
                                            <app-countdown-timer [date]="lootBoxDetails[selectedIndex].revealDate"></app-countdown-timer>
                                        </a>

                                        <a *ngIf="currentCategory === dropsCategory.LIVE" class="button mb10 text-inherit w100" 
                                        [routerLink]="lootBoxDetails[selectedIndex].isAdmin ? ['/buy_moonbase'] : ['/artist_moonbase', lootBoxDetails[selectedIndex].walletAddress] ">Buy Moonboxes</a>
                                    </div>
                                </div>

                                <div class="flex1"></div>

                                <div class="right flex4 desktop-md-block w-100">

                                    <div class="flex justify-space-between flex-align-start border-bottom">
                                        <div class="flex flex-col">
                                            <p class="p18 w700 mt10">{{lootBoxDetails[selectedIndex].name}}</p>
                                            <p class="mb20 mt10">{{lootBoxDetails[selectedIndex].rarity}}
                                            </p>
                                        </div>
                                        <div class="flex-center" (click)="clearLootboxDetails()">
                                            <svg class="interactable wrapped" width="27" height="27" xmlns="http://www.w3.org/2000/svg"><path d="M13.98 12.814 26.353.439l.707.707-12.375 12.375 12.375 12.374-.707.707-12.375-12.374L1.605 26.602l-.707-.707 12.374-12.374L.898 1.146 1.605.44l12.374 12.375Z" fill="#d5a642"/></svg>
                                        </div>
                                    </div>

                                    <textarea readonly class="mt20 justify-space-between flex">{{lootBoxDetails[selectedIndex]?.description}}</textarea>

                                    <ul class="social-icons-container flex-center flex-wrap justify-space-between w-100">
                                        <li>
                                            <a href="{{lootBoxDetails[selectedIndex].discord}}" target="_blank">
                                                <img src="assets/media/icons/moonbase/discord.svg">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{lootBoxDetails[selectedIndex].twitter}}" target="_blank">
                                                <img src="assets/media/icons/moonbase/twitter.svg">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{lootBoxDetails[selectedIndex].telegram}}" target="_blank">
                                                <img src="assets/media/icons/moonbase/telegram.svg">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{lootBoxDetails[selectedIndex].instagram}}" target="_blank">
                                                <img src="assets/media/icons/moonbase/instagram.svg">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{lootBoxDetails[selectedIndex].opensea}}" target="_blank">
                                                <img src="assets/media/icons/moonbase/opensea.svg">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{lootBoxDetails[selectedIndex].website}}" target="_blank">
                                                <img src="assets/media/icons/moonbase/global.svg">
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            
                        </div>
                        <!----list-->
                        
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>
