<div class="upcoming-container">
    <section class="scroller">
        <div class="pt-5 flex1 h-100 flex-space-between align-self">
            <div class="flex-col flex1">
                <div class="flex flex-col flex2">
                    <div class="flex">
                        <div class="flex1 flex flex-col flex-center">
                            <p class="flex1 flex justify-center p30d24m orbitron flex-row flex1 mb30">MoonBox Drops </p>
                            <div class="flex flex-xs-col mb30">
                                <a class="mb20 mr20 text-inherit"
                                    [ngClass]=" activeTab === 3 ? 'button' : 'outlined-button' "
                                    (click)="changeTab(3)">Recent</a>
                                <a class="mb20 mr20 text-inherit"
                                    [ngClass]=" activeTab === 2 ? 'button' : 'outlined-button' "
                                    (click)="changeTab(2)">Live</a>
                                <a class="mb20 mr20 text-inherit"
                                    [ngClass]=" activeTab === 1 ? 'button' : 'outlined-button' "
                                    (click)="changeTab(1)">Upcoming</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex flex-col flex2">
                    <!-- <div class="flex">
              <div class="flex1 flex flex-col">
                <p class="flex1 flex justify-center p30d24m orbitron flex-row flex1 mb10">Live Drops </p>
              </div>
            </div> -->
                    <div class="upcoming flex flex-wrap wrap">
                        <div class="full-div"
                            *ngFor="let details of listData | slice:0:(listData?.length/singleView)+1;let j=index;">
                            <div *ngFor="let item of (listData| slice:(j*singleView):(j*singleView)+singleView);"
                                class="flex-column flex-center p-3 grid-4">
                                <div class="flex1 nft_img">

                                    <div class="flex-column flex-center">
                                        <div class="relative res-box upcoming-img"
                                            [style.background]="'url('+item.filePath+')'"></div>
                                    </div>

                                </div>
                                <div class="flex flex-col flex1 w100 mt10">
                                    <div class="text-center word-break">
                                        <div class="flex align-left flex-col mb10 mt10">
                                            <p class="p18">{{item.name}}</p>
                                            <p class="color-primary">{{item.ArtistName}}</p>
                                        </div>
                                    </div>
                                    <!-- <div class="flex justify-center" *ngIf="activeTab!=3">
                                        <div class="flex align-center" style="padding: 10px;border: 1px solid;border-radius: 30px;margin: .5rem;justify-content: center;">
                                            <div class="round-mini-button" style="width: 30px; height: 30px; margin-right: 10px; font-size: 10px; background: green; border: 1px solid green;">
                                            </div>
                                            <p class="color-primary flex" *ngIf="activeTab==1">

                                            </p>
                                            <p class="color-primary flex" *ngIf="activeTab==2">
                                                <span>Open</span>
                                            </p>
                                            <div class="round-mini-button" style="width: 30px; height: 30px; margin-left: 10px; font-size: 10px;">
                                                <mat-icon role="img" fontset="material-icons" aria-hidden="true" ng-reflect-font-set="material-icons" data-mat-icon-type="font" class="mat-icon notranslate color-primary material-icons mat-icon-no-color">done</mat-icon>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="border-top-bottom mt10 mb20">
                                        <div class="flex justify-space-between">
                                            <p class="color-primary mb10 mt10">Price</p>
                                            <p class="color-primary mb10 mt10">{{item.minPrice}} BNB</p>
                                        </div>
                                        <div class="flex justify-space-between">
                                            <p class="color-primary mb10">Availability</p>
                                            <p class="color-primary mb10">{{item.supply}}/{{item.TotalMaxSupply}}</p>
                                        </div>
                                    </div>
                                    <a *ngIf="activeTab==1" class="button text-inherit mb20 coundown-button">
                                        <img src="assets/media/icons/drops/coundown.svg" alt="coundown-button">
                                        <app-countdown-timer [date]="item.revealDate"></app-countdown-timer>
                                    </a>

                                    <a *ngIf="activeTab==2" class="button text-inherit mb20"
                                        [routerLink]="item.isAdmin ? ['/buy_moonbase'] : ['/artist_moonbase',item.walletAddress] ">Buy
                                        Moonbox</a>
                                    <a class="outlined-button mb20 text-inherit"
                                        (click)="setSelected(j,item)">Collection info</a>
                                </div>
                            </div>
                            <!------ List  -->
                            <div id="collection-info" class="outer-box"
                                *ngIf="lootBoxDetailsAttributes[j] != undefined">
                                <div class="flex1 flex-center flex-align-start justify-start mb30">
                                    <div class="relative flex-col">

                                        <img src="{{lootBoxDetailsAttributes[j].filePath}}"
                                            class="img-fluid mb30 collection-info-img" alt="">
                                        <div class="border-bottom mt10 mb20">
                                            <div class="flex justify-space-between">
                                                <p class="color-primary mb10 mt10">Price</p>
                                                <p class="color-primary mb10 mt10">{{lootBoxDetailsAttributes[j].minPrice}} BNB</p>
                                            </div>
                                            <div class="flex justify-space-between">
                                                <p class="color-primary mb10">Availability</p>
                                                <p class="color-primary mb10">
                                                    {{lootBoxDetailsAttributes[j].supply}}/{{lootBoxDetailsAttributes[j].TotalMaxSupply}}</p>
                                            </div>
                                        </div>
                                        <div class="flex justify-space-between">
                                            <a *ngIf="activeTab==1" class="button text-inherit mb20 coundown-button w100">
                                                <img src="assets/media/icons/drops/coundown.svg" alt="coundown-button">
                                                <app-countdown-timer [date]="lootBoxDetailsAttributes[j].revealDate"></app-countdown-timer>
                                            </a>

                                            <a *ngIf="activeTab==2" class="button mb10 text-inherit w100"
                                                [routerLink]="lootBoxDetailsAttributes[j].isAdmin ? ['/buy_moonbase'] : ['/artist_moonbase',lootBoxDetailsAttributes[j].walletAddress] ">Buy
                                                Moonbox</a>
                                        </div>
                                    </div>
                                    <div class="flex1"></div>
                                    <div class="flex4 desktop-md-block">

                                        <div class="flex justify-space-between flex-align-start border-bottom">
                                            <div class="flex flex-col">
                                                <p class="p18 w700 mt10">{{lootBoxDetailsAttributes[j].name}}</p>
                                                <p class="mb20 mt10">{{lootBoxDetailsAttributes[j].rarity}}
                                                </p>
                                            </div>
                                            <div class="flex-center" (click)="closeAttributes()">
                                                <svg id="attibute_close" width="27px" height="27px" viewBox="0 0 27 27"
                                                    version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink">
                                                    <title>Combined Shape</title>
                                                    <desc>Created with Sketch.</desc>
                                                    <g id="Page-1" stroke="none" stroke-width="1" fill="none"
                                                        fill-rule="evenodd">
                                                        <path
                                                            d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
                                                            id="Combined-Shape" fill="#000000"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>

                                        <textarea readonly class="mt20 mb20 justify-space-between flex">{{lootBoxDetailsAttributes[j]?.description}}</textarea>

                                        <div class="social-icons-container flex justify-space-between">
                                            <div class="image-bb">
                                                <a href="{{lootBoxDetailsAttributes[j].discord}}" target="_blank">
                                                    <img src="assets/media/icons/moonbase/discord.svg">
                                                </a>
                                            </div>
                                            <div class="image-bb">
                                                <a href="{{lootBoxDetailsAttributes[j].twitter}}" target="_blank">
                                                    <img src="assets/media/icons/moonbase/twitter.svg">
                                                </a>
                                            </div>
                                            <div class="image-bb">
                                                <a href="{{lootBoxDetailsAttributes[j].telegram}}" target="_blank">
                                                    <img src="assets/media/icons/moonbase/telegram.svg">
                                                </a>
                                            </div>
                                            <div class="image-bb">
                                                <a href="{{lootBoxDetailsAttributes[j].instagram}}" target="_blank">
                                                    <img src="assets/media/icons/moonbase/instagram.svg">
                                                </a>
                                            </div>
                                            <div class="image-bb">
                                                <a href="{{lootBoxDetailsAttributes[j].opensea}}" target="_blank">
                                                    <img src="assets/media/icons/moonbase/opensea.svg">
                                                </a>
                                            </div>
                                            <div class="image-bb">
                                                <a href="{{lootBoxDetailsAttributes[j].website}}" target="_blank">
                                                    <img src="assets/media/icons/moonbase/global.svg">
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="flex4 d-block d-md-none">

                                    <div class="flex justify-space-between flex-align-start border-bottom">
                                        <div class="flex flex-col">
                                            <p class="p18 w700">{{lootBoxDetailsAttributes[j].name}}</p>
                                            <p class="mb20 mt10">{{lootBoxDetailsAttributes[j].rarity}}
                                            </p>
                                        </div>
                                        <div class="flex-center" (click)="closeAttributes()">
                                            <svg id="attibute_close" width="27px" height="27px" viewBox="0 0 27 27"
                                                version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <title>Combined Shape</title>
                                                <desc>Created with Sketch.</desc>
                                                <g id="Page-1" stroke="none" stroke-width="1" fill="none"
                                                    fill-rule="evenodd">
                                                    <path
                                                        d="M13.9791847,12.8137085 L26.3535534,0.439339828 L27.0606602,1.14644661 L14.6862915,13.5208153 L27.0606602,25.895184 L26.3535534,26.6022907 L13.9791847,14.2279221 L1.60481605,26.6022907 L0.897709268,25.895184 L13.2720779,13.5208153 L0.897709268,1.14644661 L1.60481605,0.439339828 L13.9791847,12.8137085 Z"
                                                        id="Combined-Shape" fill="#000000"></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>

                                    <p class="mt20 mb20 justify-space-between flex">
                                        {{lootBoxDetailsAttributes[j]?.description}}
                                    </p>

                                </div>
                            </div>
                            <!----list-->
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>
