<div class="upcoming-container">
    <section class="scroller">
    
        <img *ngIf="!list" class="absolute-center" src="assets/media/videos/Loading.gif" alt="loading" />

        <div class="pt-5 flex1 h-100 flex-space-between align-self">
            <div class="flex-col flex1">
                <div class="flex flex-col">
                    <div class="flex">
                        <div class="flex flex-col w100 flex-center">
                            <p class="flex1 flex justify-center p30d24m orbitron bold flex-row flex1 mb30">MoonBox Drops</p>
                            <div class="tabs-container flex flex-xs-col mb30">
                                <a class="tab" [ngClass]="getButtonType(dropsCategory.RECENT)" (click)="changeTab(dropsCategory.RECENT)">Recent</a>
                                <a class="tab" [ngClass]="getButtonType(dropsCategory.LIVE)" (click)="changeTab(dropsCategory.LIVE)">Live</a>
                                <a class="tab" [ngClass]="getButtonType(dropsCategory.UPCOMING)" (click)="changeTab(dropsCategory.UPCOMING)">Upcoming</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="list" class="flex flex-col">
                    <div class="upcoming flex flex-wrap wrap">
                        <ng-container *ngFor="let item of list[currentCategory]; let i = index; trackBy: trackByFn;">
                            <div *ngIf="!(this.NSFWToggleState && item['NSFW'])" class="box flex-center col pa10">

                                <a *ngIf="item.revealDate !== 'Application form'" class="flex1 nft_img flex-center" [class.disabledBorder]="currentCategory === dropsCategory.UPCOMING" [routerLink]="currentCategory === dropsCategory.UPCOMING ? null : ['/artist',item.walletAddress]">
                                    <div class="relative res-box upcoming-img" [style.background]="'url('+item.filePath+')'"></div>
                                </a>

                                <a *ngIf="item.revealDate === 'Application form'" rel="noopener noreferrer" (click)="openDialoagOfAddUser()" class="flex1 nft_img flex-center">
                                    <div class="relative res-box upcoming-img" [style.background]="'url('+item.filePath+')'"></div>
                                </a>

                                <div class="flex flex-col flex1 w100 mt10">
                                    <div class="text-center word-break">
                                        <div class="flex align-left flex-col mb10 mt10">
                                            <p class="p18">{{item.name}}</p>
                                            <p class="color-primary">{{item.ArtistName}}</p>
                                        </div>
                                    </div>

                                    <div class="border-top-bottom mt10 mb20">
                                        <div class="flex justify-space-between">
                                            <p class="color-primary mb10 mt10">Price</p>
                                            <p class="color-primary mb10 mt10">{{getMinPrice(item)}} {{item.tokenName}}</p>
                                        </div>
                                        <div class="flex justify-space-between">
                                            <p class="color-primary mb10">Availability</p>
                                            <p class="color-primary mb10">{{item.supply}}/{{item.TotalMaxSupply}}</p>
                                        </div>
                                    </div>

                                    <div *ngIf="currentCategory === dropsCategory.UPCOMING && item.revealDate !== 'Application form'" class="button text-inherit mb20 coundown-button default-cursor">
                                        <div class="tooltip">
                                            <div class="row">Available soon</div>
                                        </div>
                                        <img src="assets/media/icons/drops/coundown.svg" alt="coundown-button">
                                        <app-countdown-timer [date]="item.revealDate"></app-countdown-timer>
                                    </div>

                                    <!-- <a *ngIf="currentCategory === dropsCategory.UPCOMING && item.revealDate === 'Application form'" rel="noopener noreferrer" href="{{item.url}}" target="_blank" class="pointer button text-inherit mb20 coundown-button">
                                        <img src="assets/media/images/form.svg" alt="coundown-button">
                                        <p>{{item.revealDate}}</p>
                                    </a> -->

                                    <a class="pointer button text-inherit mb20 coundown-button" (click)="openDialoagOfAddUser()" rel="noopener noreferrer"
                                    *ngIf="currentCategory === dropsCategory.UPCOMING && item.revealDate === 'Application form'">
                                    <img src="assets/media/images/form.svg" alt="coundown-button">
                                    Application form
                                    </a>


                                    <a *ngIf="currentCategory === dropsCategory.LIVE" class="button text-inherit mb20" [routerLink]="['/artist',item.walletAddress]">Buy MoonBoxes</a>
                                    <a [class.disabled]="item.revealDate === 'Application form'" class="outlined-button mb20 text-inherit" (click)="viewDetails(item)">Collection info</a>
                                </div>
                            </div>
                        </ng-container>

                    </div>
                </div>

            </div>

        </div>

    </section>
</div>
