@import "includes";
section.upcoming-container {
    display: flex;
    flex-direction: column;
    max-width: 770px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 70px;
    padding-top: 180px;
    overflow: hidden;
}

.scroller {
    max-height: calc(100vh - 120px) !important;
    >div {
        width: 100%;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.p-3 {
    padding: 1rem;
}

.inner img.square-box {
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
    width: 100%;
    object-fit: cover;
}

.scroller>.desktop-only.h-100 {
    align-self: flex-start;
}

.grid-4 {
    flex-basis: calc(25% - 40px);
}

.nft_img {
    padding: 0;
    background: #090d16;
    border-radius: 4px;
    width: 100%;
    justify-content: center;
    // display: flex;
    // flex-flow: column;
}

.upcoming .full_banner {
    width: 100%;
    max-width: 300px;
    overflow: hidden;
}

.collection-info {
    padding-top: 70px;
}

.res-box {
    position: relative;
    width: 100%;
    // border: 1px solid $primary;
    background-size: cover !important;
    &:nth-child(4n) {
        margin-right: 0;
    }
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
        /* initial ratio of 1:1*/
    }
    >.content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        >img {
            width: 100%;
        }
    }
}

.w100 {
    width: 100%;
}

.align-self {
    align-self: flex-start
}

.flex-wrap {
    flex-wrap: wrap;
}

.border-top-bottom {
    border-top: 1px solid #d5a642;
    border-bottom: 1px solid #d5a642;
}

.outer-box {
    border: 1px solid;
    padding: 1rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    justify-content: flex-start;
    // position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}

.px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.inner .outer-box img,
.inner .outer-box video {
    height: 350px !important;
    width: 350px !important;
    border-radius: 0 !important;
}

.border-bottom {
    border-bottom: 2px solid #d5a642;
}

.mb20.mr20.text-inherit.button {
    border: 1px solid #d5a642;
    &:hover {
        border-color: white;
    }
}

.full-div {
    flex: 0 0 100%;
    display: flex;
    flex-flow: wrap;
}

svg#attibute_close path {
    fill: #d5a642;
}

.desktop-md-block {
    display: block !important;
}

.d-md-none {
    display: none !important;
}

.coundown-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
        height: 25px;
        width: 25px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: $md-header) {
    .scroller>div {
        align-self: flex-start;
        padding-top: 4rem;
    }
    .collection-info {
        padding-top: 0px;
    }
    .upcoming {
        flex-flow: column;
    }
    .grid-4 {
        flex-basis: 100%;
    }
    .desktop-md-block {
        display: none !important;
    }
    .d-block {
        display: block;
    }
}