section.multi-chain {
    display: flex;
    max-width: 400px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #090d16;
    border-top: 7px solid #d5a642;
    padding: 10px 20px;
    margin: 0 auto;
}

.upper-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;

    p {
        color: #d5a642;
        font-size: 16px;
    }

    svg {
        margin-top: -25px;
    }
}

.chain-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: #d5a642;
    padding-left: 0px;

    :last-child {
        border-bottom: 0px;
        padding-bottom: 0px;
    }



    li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #d5a642;
        padding: 10px 0px;
        cursor: pointer;

        &:hover {
            p {
                color: white;
            }

            img {
                border-color: white;
            }
        }

        img {
            height: 40px;
            width: 40px;
            border-radius: 30px;
            border: 1px solid #d5a642;
            padding: 8px;
            object-fit: contain;
        }

        p {
            font-size: 16px;
            margin-left: 20px;
            margin-bottom: 0px;
        }

        .disabled {
            p {
                color: gray;
            }

            img {
                border-color: gray;
            }
        }
    }
}

::ng-deep.mat-dialog-container {
    padding: 0px !important;
    box-shadow: none !important;
    background: transparent !important;
}

::ng-deep.cdk-global-scrollblock {
    overflow: revert;
    display: block;
    right: 0px;
    width: 100vw;
    height: 100vh;
    position: revert;
}