<section class="landing-intro">
    <div class="landing-into-nft-image-container-mobile">
        <video width="100%" height="auto" playsinline muted autoplay loop playsinline oncanplay="this.play()" onloadedmetadata="this.muted = true">
                <source src="assets/media/videos/moonbase-intro.mp4" type="video/mp4" />
                Browser not supported
        </video>
    </div>
    <div class="info">
        <div class="line-container ">
            <div class="line flex1"></div>
            <div class="empty flex1"></div>
        </div>
        <div class="top futuristic-container bottom-only">
            <p class="p-white-span-primary p34 orbitron info-title">Buy Moonboxes<br><span>and expand your <br class="break-line">NFT collection</span></p>
        </div>
        <div class="bottom flex pv20">
            <div class="flex2  bottom-only no-padding mr10">
                <p class="mb20  info-text">Buying MoonBoxes is a fun and unique way to acquire NFTs to build your collection. Only available on <a href="http://moonboxes.io/">MoonBoxes.io</a>, built on the Binance Smart Chain.</p>
            </div>

        </div>
        <div class="buttons-container">
            <div class="buy-moonshot-button">
                <a [routerLink]="['/live']" class="button">Buy a MoonBox</a>
            </div>
            <div class="arrow-down">
                <div class="round-mini-button" (click)="scrollToElement('', 'raise-stakes')">
                    <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
                </div>
            </div>
        </div>

    </div>

    <div class="landing-into-nft-image-container">
        <video width="100%" height="auto" playsinline muted autoplay loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="assets/media/videos/moonbase-intro.mp4" type="video/mp4" />
            Browser not supported
        </video>
    </div>
</section>