<section class="landing-intro">
    <div class="landing-into-nft-image-container-mobile">
        <img class="nft-image" src="assets/media/images/moonbox/landing/004.gif">
    </div>
    <div class="info">
        <div class="line-container ">
            <div class="line flex1"></div>
            <div class="empty flex1"></div>
        </div>
        <div class="top futuristic-container bottom-only">
            <p class="p-white-span-primary p34 orbitron info-title">Buy Moonboxes<br><span>and expand your <br class="break-line">NFT collection</span></p>
        </div>
        <div class="bottom flex pv20">
            <div class="flex2  bottom-only no-padding mr10">
                <p class="mb20  info-text">Buying MoonBoxes is a fun and unique way to acquire NFTs to build your collection. Only available on <a href="http://moonboxes.io/">MoonBoxes.io</a>, build on the BSC chain (low gas fees).</p>
            </div>

        </div>
        <div class="buttons-container">
            <div class="buy-moonshot-button">
                <a href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0xd27D3F7f329D93d897612E413F207A4dbe8bF799" target="_blank" class="button">Buy a MoonBox</a>
            </div>
            <div class="arrow-down">
                <div class="round-mini-button" (click)="scrollToElement('', 'raise-stakes')">
                    <mat-icon fontSet="material-icons" class="color-primary">arrow_downward</mat-icon>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="landing-into-nft-image-container">
        <video class="nft-image" autoplay loop>
            <source src="assets/media/images/moonbox/landing/004.mp4" type="video/mp4" />
            
            Your browser does not support the video tag.
          </video>

    </div> -->
    <div class="landing-into-nft-image-container">
        <img class="nft-image" src="assets/media/images/moonbox/landing/004.gif">
    </div>
</section>