@import "includes";
.modal-box {
    justify-content: center;
    background: #090d16;
    border-top: 6px solid #d5a642;
    border-radius: 4px;
    min-width: 25vw;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input.outlined-button.wp100 {
    cursor: text !important;
}

.warning {
    max-width: 25vw;
    color: $primary;
    margin-bottom: 20px;
    text-align: center;
    align-self: center;
}

@media only screen and (max-width: $md-header) {
    .scroller {
        max-height: calc(100vh - 50px) !important;
        padding-bottom: 40px;
        margin-bottom: 0px !important;
    }
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .modal-box div {
        flex-flow: column;
        text-align: center;
        justify-content: center;
        p {
            margin-bottom: 0.5rem;
        }
    }
    .warning {
        max-width: 40vw;
    }
}