.inner img.square-box {
    border-radius: 0 !important;
    border: none !important;
    padding: 0 !important;
}
.flex-column.flex-center.p-3 {
    background: #12192a;
    border-radius: 4px;
}
.upcoming > div {
    flex-grow: 1;
    margin: 1rem;
}