<section class="landing flex">
  <div class="inner">
    <div class="left-corner desktop-only"></div>
    <div class="right-corner desktop-only"></div>
    <app-nav></app-nav>

    <section class="scroller">
      <div class="pt-5 h-100 flex-space-between align-items-center flex-xs-col px-3">
        <div class="empty flex1"></div>
        <div class="info flex4">
          <div class="line-container flex">
            <div class="line flex2"></div>
            <div class="empty flex1"></div>
          </div>
          <div class="top futuristic-container bottom-only desktop-only">
          </div>
          <div class="bottom flex pv20 flex-xs-col">
            <div class="desktop-only buttons-container d_flex_content_between flex1">
              <p class="p27d18m futuristic-container bottom-only pt-0">Odds</p>
              <p class="p-white-span-primary p27d18m prize_pool pv20">Prize Pool</p>
              <a href="javascript:void(0)" [routerLink]="['/upcoming']" class="button">Buy a MoonBox</a>
            </div>

            <div class="mobile-only info flex2">
              <div class="top futuristic-container top-only flex1">
                <p class="p-white-span-primary p34">Prize Pool</p>
              </div>
            </div>

            <div class="flex2 no-padding mr50 ml20 m-xs-0 border-0">
              <p class="normal_text">­— When users open boxes, the Moonshot tokens flow: 50% to
                marketing/development
                budget, 50% to loot box prize pool.
                <br> — Rare NFTs can be used to redeem Moonshot locked in prize pool:
                <br> • Tier god NFT: 10% total pool, 1 nft.
                <br> • Tier 1 NFT: 5% total pool, total 5 nfts.
                <br> • Tier 2 NFT: 0.5% total pool, total 15 nfts.
                <br> • Tier 3 NFT: 0.257% total pool, total 29 nfts.
                <br> — Maturity time: nfts that are opened need to wait to a certain time(10/20/30 days)
                to
                redeem moonshot. during that time they can trade their nft in free market (such as
                opensea).
              </p>
            </div>

            <div class="mobile-only bottom flex pv20 flex-xs-col">
              <div class="flex1 flex justify-end"></div>
              <div class="buttons-container flex1 d-xs-flex">
                  <a class="outlined-button mb10 text-inherit back_btn" [routerLink]="['/moonbase']" href="javascript:void(0)">Back</a>
                  <a class="button text-inherit" [routerLink]="['/buy_moonbase']" href="javascript:void(0)">Buy a MoonBox</a></div>
            </div>
          </div>
        </div>
        <div class="empty flex1"></div>
      </div>
    </section>

    <app-footer-count class="desktop-only inner flex-space-between align-start mt20 box"></app-footer-count>
  </div>
  <app-sidebar></app-sidebar>
</section>
