<section class="scroller">
  <div class="pt-5 h-100 flex-space-between align-items-center flex-xs-col px-3">
    <div class="empty flex1"></div>
    <div class="info flex4">
      <div class="line-container flex">
        <div class="line flex2"></div>
        <div class="empty flex1"></div>
      </div>
      <div class="top futuristic-container bottom-only desktop-only">
      </div>
      <div class="bottom flex pv20 flex-xs-col">
        <div class="desktop-only buttons-container d_flex_content_between flex1">
          <p class="p27d18m futuristic-container bottom-only pt-0">Moonshooter NFT Series</p>
          <p class="p-white-span-primary p27d18m prizepool pv20">Prize Pool</p>
          <a href="javascript:void(0)" [routerLink]="['/upcoming']" class="button">Buy a MoonBox</a>
        </div>

        <div class="mobile-only info flex2">
          <div class="top futuristic-container top-only flex1">
            <p class="p-white-span-primary p34">Prize Pool</p>
          </div>
        </div>

        <div class="flex2 no-padding mr50 ml20 m-xs-0 border-0">
          <p class="normal_text">­When you buy a MoonBox from our Moonshooter NFT Series, 90% of the total sales flow into our 
            marketing/development fund and 10% flows into the prize pool.</p>
            <br>Rare NFTs can be used to claima prize;<br>
            <ul>
              <li>&nabla; Tier GOD NFT: 8.5% of the total pool, 1 nft.</li>
              <li>&nabla; Tier 1 NFT: 5% of the total pool, total 5 nfts.</li>
              <li>&nabla; Tier 2 NFT: 2.5% of the total pool, total 15 nfts.</li>
              <li>&nabla; Tier 3 NFT: 1.0% of the total pool, total 29 nfts.</li>
            </ul>
         
        </div>

        <div class="mobile-only bottom flex pv20 flex-xs-col">
          <div class="flex1 flex justify-end"></div>
          <div class="buttons-container flex1 d-xs-flex">
              <a class="outlined-button mb10 text-inherit back_btn" [routerLink]="['/moonbase']" href="javascript:void(0)">Back</a>
              <a class="button text-inherit" [routerLink]="['/buy_moonbase']" href="javascript:void(0)">Buy a MoonBox</a></div>
        </div>
      </div>
    </div>
    <div class="empty flex1"></div>
  </div>
</section>