@import "includes";

// pop up css
.modal-box {
    justify-content: center;
    background: #090d16;
    border-top: 6px solid #d5a642;
    border-radius: 4px;
    max-width: max-content;
    padding: 2rem;
    margin: auto;
}
.steps__item:not(:last-child) {
    margin-bottom: 32px;
}
.popup__title {
    margin-bottom: 32px;
}
.popup .mfp-close {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 40px;
    height: 40px;
    border: 2px solid #E6E8EC;
    border-radius: 50%;
    line-height: normal;
    opacity: 1;
    background: #FCFCFD;
    font-size: 0;
    transition: all .2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.steps__head {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.steps__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border: 2px solid #d5a642;
    border-radius: 50%;
    transition: all .2s;
    overflow: hidden;
    background-color: #d5a642;
}
.steps__info {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color:white
}
.steps__text {
    font-size: 12px;
    line-height: 1.66667;
    color: #777E90;
}
.border-0 {
    border: none;
}
.cursor {
    cursor: pointer;
}
.loader-img {
    width: 100px;
    border-radius: 50px;
}
.success__icon {
    background: #d5a642;
    border-color: #d5a642;
  }

.onvideo {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 80px);
    // height: 73vh;
    width: calc(100% - 20px);
    padding: 10px;
    right: 0;
}

@media only screen and (max-width: $md-header) {
  .mmh-75 {
    // height: 75vh;
    max-width: 100%;
  }
  .onvideo {
    // height: 73vh;
    max-width: 100%;
    max-height: 100%;
  }
}
.mh-75 {
    max-height: 75vh;
}
.relative {
    position: relative;
}

.circle {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #06090f;
    border-radius: 50%;
    padding: 2rem;
    margin: auto; 
    transform: translate(-50%, -50%);
    transition: transform 20s linear;
    box-shadow:0 0 10px 2px #d5a642;
}

.circle.expand {
    animation: expand 20s forwards;
}

@keyframes expand {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    100% {
      transform: translate(-50%, -50%) scale(10000%);
    }
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
  }
  
  
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .transaction-Popup {
    // transform: translate3d(-50%, -50%, 0);
   }
  .active {
    animation: enter 5s ease-out;
  }

  .in-active {
    animation: exit 5s ease-out;
  }

  @keyframes enter {
    from {
      transform:  perspective(1000px) translate3d(-50%, -50%, 0) scale(0.8);
    }
    to {
      transform: perspective(1000px) translate3d(-50%, -50%, 0) scale(1);
    }
  }
  
  @keyframes exit {
    from {
      transform:  perspective(1000px) translate3d(-50%, -50%, 0) scale(1);
    }
  
    to {
      transform: perspective(1000px) translate3d(-50%, -50%, 0) scale(1.2);
    }
  }
  