// pop up css
.modal-box {
    justify-content: center;
    background: #090d16;
    border-top: 6px solid #d5a642;
    border-radius: 4px;
    max-width: max-content;
    padding: 2rem;
    margin: auto;
}
.steps__item:not(:last-child) {
    margin-bottom: 32px;
}
.popup__title {
    margin-bottom: 32px;
}
.popup .mfp-close {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 40px;
    height: 40px;
    border: 2px solid #E6E8EC;
    border-radius: 50%;
    line-height: normal;
    opacity: 1;
    background: #FCFCFD;
    font-size: 0;
    transition: all .2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.steps__head {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.steps__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border: 2px solid #d5a642;
    border-radius: 50%;
    transition: all .2s;
    overflow: hidden;
    background-color: #d5a642;
}
.steps__info {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color:white
}
.steps__text {
    font-size: 12px;
    line-height: 1.66667;
    color: #777E90;
}
.border-0 {
    border: none;
}
.cursor {
    cursor: pointer;
}
.loader-img {
    width: 100px;
    border-radius: 50px;
}
.success__icon {
    background: #d5a642;
    border-color: #d5a642;
  }
