<div class="intro">
    <div class="pt-5 h-100 inner flex-space-between align-items-center">
        <div class="stats flex1">
        </div>
        <div class="info flex2">
            <div class="top futuristic-container">
                <p class="p-white-span-primary p34 orbitron">Buy MoonBoxes
                    <br><span>and have a chance at <br>
                    winning rare NFTs</span>
                </p>
            </div>
            <div class="bottom flex pv20">
                <div class="flex2 futuristic-container bottom-only no-padding mr50">
                    <p class="mb20 p-white-span-primary"><span> There are four kinds of MoonBoxes. Each with their own price
                        and odds. Read more about the odds and the prize pool.</span></p>
                </div>
                <div class="flex1 flex justify-end">
                </div>
                <div class="buttons-container flex1">
                    <a class="outlined-button mb10 text-inherit" [routerLink]="['/prize_pool']">Read more</a>
                    <a class="button text-inherit" [routerLink]="['/buy_moonbase']">Buy a MoonBox</a>
                </div>
            </div>
        </div>
        <div class="stats flex1">
        </div>
    </div>
</div>