

<div class="ede2">
    <div>Add User</div>
    <div>
        <form  [formGroup]="addArtistForm" (ngSubmit)="onSubmit()" #ff="ngForm">
            <div>
                <div>
                    Name
                </div>
                <div>
                    <input type="text"  formControlName="name">
                </div>
                <div>
                    User Name
                </div>
                <div>
                    <input type="text" formControlName="userName">
                </div>
                <div>
                    address
                </div>
                <div>
                    <input type="text" formControlName="walletAddress">
                </div>
                <div>
                    Collection Name
                </div>
                <div>
                    <input type="text" formControlName="collectionName">
                </div>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>