<div class="ede2 addusermodal">
  <h4 class="headfont">Sign up</h4>
  <div>
    <form [formGroup]="addArtistForm" (ngSubmit)="formRef.valid && onSubmit()" #formRef="ngForm">
      <div>
        
        <div class="mb-3 dgridsys">
          <label for="exampleInputEmail1" class=" labelname">Name</label>
          <input
            type="text"
            class=" contentcolor"
            id="text"
            aria-describedby="textHelp"
            formControlName="name"
          />
          <div *ngIf="f.name.invalid && (f.name.touched || formRef.submitted)">
              <span class="text-danger" *ngIf="f.name.errors?.required">Name required</span>
          </div>
        </div>
        <div class="mb-3 dgridsys ">
            <label for="exampleInputEmail1" class=" labelname">User Name</label>
            <input
              type="text"
              class=" contentcolor"
              id="text"
              aria-describedby="textHelp"
              formControlName="userName"
            />
            <div *ngIf="f.userName.invalid && (f.userName.touched || formRef.submitted)">
              <span class="text-danger" *ngIf="f.userName.errors?.required">User Name required</span>
          </div>
          </div>
          <div class="mb-3 dgridsys ">
            <label for="exampleInputEmail1" class=" labelname">Symbol</label>
            <input
              type="text"
              class=" contentcolor"
              id="text"
              aria-describedby="textHelp"
              formControlName="symbol"
            />
            <div *ngIf="f.symbol.invalid && (f.symbol.touched || formRef.submitted)">
              <span class="text-danger" *ngIf="f.symbol.errors?.required">Symbol required</span>
          </div>
          </div>
          <div class="mb-3 dgridsys">
            <label for="exampleInputEmail1" class=" labelname">Wallet Address</label>
            <input
              type="text" 
              class=" contentcolor"
              id="text"
              aria-describedby="textHelp"
              formControlName="walletAddress"
            />
            <div *ngIf="f.walletAddress.invalid && (f.walletAddress.touched || formRef.submitted)">
              <span class="text-danger" *ngIf="f.walletAddress.errors?.required">Wallet Address required</span>
          </div>
          </div>
        
          <div class="mb-3 dgridsys">
            <label for="exampleInputEmail1" class=" labelname">Collection Name</label>
            <input
              type="text"
              class=" contentcolor"
              id="text"
              aria-describedby="textHelp"
              formControlName="collectionName"
            />
            <div *ngIf="f.collectionName.invalid && (f.collectionName.touched || formRef.submitted)">
              <span class="text-danger" *ngIf="f.collectionName.errors?.required">Collection Name required</span>
          </div>
          </div>
        
        
        
      </div>
      <div class="buttonspace">
        <button type="submit" class="btn subbutton">Submit</button>
      </div>
    </form>
  </div>
</div>