<section id="join-application" class="join-application">
    <div class="inner">
        <div class="heading-container top">
            <div class="futuristic-container">
                <p class="p-white-span-primary p34 orbitron">Call for artists!<br><span>Applications are<br class="break-line-desktop">open for all<br class="break-line-desktop">artists & creators</span></p>
            </div>
            <div class="futuristic-container no-lines">
                <a href="https://t.me/MoonShotChat" target="_blank" class="outlined-button">Contact Us</a>
                <!-- <a href="https://forms.gle/2YkZHLdYKGseBCURA" target="_blank" class="button mt15"><img src="assets/media/images/form.svg" alt="coundown-button">Application form</a> -->
                <a (click)="openDialoagOfAddUser()" class="button mt15"><img src="assets/media/images/form.svg" alt="coundown-button">Application form</a>
            </div>
        </div>
        <div class="description-container">
            <img class="h-100" src="assets/media/images/astro_painter.svg" alt="AstroPainter, Painter">
        </div>
    </div>
</section>