@import "includes";

section.frame {
  flex: 1;
  z-index: 1;
  position: relative;
  height: $full;

  .inner {
    width: 100%;
    height: calc(100% - 96px);
    border: 48px solid;
    position: relative;
  }

  app-sidebar {
    width: 74px;
    height: 100%;
  }
}

.left-corner {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  position: absolute;
  width: 50px;
  height: 50px;
  background: $primary;
  border: none;
  left: -1px;
  bottom: -1px;
  z-index: 1000;
}

.right-corner {
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
  position: absolute;
  width: 50px;
  height: 50px;
  background: $primary;
  border: none;
  right: -1px;
  bottom: -1px;
  z-index: 1000;
}

.text-inherit {
  text-transform: inherit;
}

.shape {
  background-color: #d7b13e;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 65px;
  -webkit-clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%, 0 100%);
  clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%, 0 100%);
  align-items: center;
}

.shape::before {
  content: '';
  width: 100%;
  height: inherit;
  -webkit-clip-path: polygon(5% 0, 94.8% 0, 99.7% 100%, 0% 100%);
  clip-path: polygon(5% 0, 94.8% 0, 99.7% 100%, 0% 100%);
  background: $body-bg-color;
  display: block;
  position: absolute;
  top: 1px;
  z-index: -1;
  left: 1px;
}

.h-100 {
  height: 100%;
}

.pt-5 {
  padding-top: 3rem;
}

.normal_text {
  line-height: 22px;
  font-weight: normal;
}

.box {
  margin-top: 2px;
  position: absolute;
  bottom: 0px;
  width: calc(100vw - 10rem);
  left: 0rem;
}

.down_box {
  border-bottom: 61px solid $primary;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  height: 0;
  color: black
}

.mt-15 {
  margin-top: 15px;
}

.d_flex_content_between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prize_pool {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  flex: 1;
}

.pt-0 {
  padding-top: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.relative {
  position: relative;
}

.mb0 {
  margin-bottom: 0 !important;
}

@media (min-width: 1600px) {
  .shape::before {
    border-top: 1px solid;
  }
}

// Responsive Menu for global
@media only screen and (max-width: $md-header) {

  section.frame {
    width: 100vw;

    .inner {
      border: 0;
    }
  }

  .navigation {

    nav,
    .res_class {
      display: none;
    }
  }

  .res_menu {
    .box {
      display: flex;
      justify-content: space-between;
      flex: 1;
      align-items: center;

      svg {
        width: 30px;
      }
    }
  }

  section.navigation {
    padding: 1rem !important;
    align-items: center;
  }

  .p34 {
    font-size: 24px;
  }
}
