@import "includes";

.img-small {
  width: 70px;
  height: 70px;
}

.connect_popup {
  background: #090d16;
  border-top: 6px solid #d5a642;
}

.border-thick:hover {
  border-bottom: 4px solid #d5a642;
}

.border-thick {
  cursor: pointer;
  border-bottom: 4px solid transparent;
}

.flex-xs-col {
  display: flex;
  flex-direction: column;
  max-width: 660px;
  padding: 40px;

  .buttons-container {
    //margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;

    .outlined-button {
      min-width: 140px !important;
    }

    .button {
      margin-left: 20px;
      min-width: 170px !important;
    }
  }
}

.desc {
  color: $primary;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  margin-right: auto;
}

p.warning-title {
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 10px;
}

@media only screen and (max-width: $md) {
  .flex-xs-col {
    padding: 25px;

    .buttons-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 30px;

      .outlined-button,
      .button {
        min-width: 100% !important;
        margin-left: 0px;
      }
    }
  }

  p.warning-title {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-right: auto;
  }
}
