<section class="scroller">
  <div class="pt-5 h-100 justify-center align-items-center flex-xs-col px-3">
    <div class="empty flex1"></div>
    <div class="connect_popup info flex2">
      <div class="line-container flex">
        <div class="line flex2"></div>
        <div class="empty flex1"></div>
      </div>
      <div class="info">
        <div class="bottom flex justify-center">
          <div class="flex flex-xs-col align-center">
            <p class="p-white-span-primary orbitron warning-title">
              ⚠️ Moonshot Token Migration
            </p>
            <p class="desc">MoonBoxes tier system was upgraded to MSHOT (V2) token.</p>
            <p class="desc">Go to <a href="https://project-moonshot.me/">Moonshot website</a> and claim your MSHOT now!
            </p>
            <div class="buttons-container">
              <a class="outlined-button" (click)="closeDialog()">Continue</a>
              <a class="button" href="https://project-moonshot.me/moonswap">Claim MSHOT</a>
            </div>
          </div>
          <div class="empty flex1"></div>
        </div>
      </div>
    </div>
    <div class="empty flex1"></div>
  </div>
</section>
