<section id="rarity" class="rarity flex-col">

    <div class="inner">

        <div class="detail-container flex mb70">
            <div class="heading-container top futuristic-container flex1">
                <p class="p-white-span-primary p34 orbitron">Rarity chart<span> <br>- switch attribute <br class="break-line-mobile">and rarity</span></p>
            </div>
            <div class="description-container futuristic-container top-only top-line-thin flex1">
                <div class="bottom flex">
                    <div class="bottom-only no-padding">
                        <p class="mb20 info-text lh30">Buying MoonBoxes is a fun way the require rare NFTs, only available at <a href="http://moonboxes.io/">MoonBoxes.io</a>.</p>
                    </div>
                </div>
                <div class="switch-container flex align-center">
                    <p>Categorize on:</p>
                    <div class="flex-space-between ml30">
                        <p class="mr10">Item</p>
                        <ui-switch class="rarity-switch" switchColor="#d5a642" defaultBoColor="#d5a642" (click)="sortedOnRarity = !sortedOnRarity"></ui-switch>
                        <p class="ml10">Rarity</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="items-container flex-col align-start mb60">

            <ng-container *ngIf="sortedOnRarity; then rarityView else normalView"></ng-container>

            <ng-template #normalView>
                <div class="category-view mb70" *ngFor="let category of getAvailableCategories() | keyvalue; trackBy: trackByFn;">
                    <p><span class="bold orbitron">Attribute: </span>{{category.key}}</p>
                    <div class="items-view mt20 flex">
                        <div *ngFor="let content of category.value | keyvalue">
                            <div class="res-box mb10">
                                <div class="content">
                                    <img src='assets/media/icons/rarity/{{content.value["image"]}}' alt="">
                                </div>
                            </div>
                            <p>{{content.value['name']}} — {{content.value['rarityPercentage']}}%</p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template #rarityView>
                <div class="category-view mb70" *ngFor="let category of getRareDrops() | keyvalue; trackBy: trackByFn;">
                    <p><span class="bold orbitron">Rarity: </span>{{category.value['rarity'][1]}} — {{category.value['rarity'][0]}}%</p>
                    <div class="items-view mt20 flex">
                        <div *ngFor="let content of category.value['content'] | keyvalue">
                            <div class="res-box mb10">
                                <div class="content">
                                    <img src='assets/media/icons/rarity/{{content.value["image"]}}' alt="">
                                </div>
                            </div>
                            <p>{{content.value['name']}} — {{content.value['rarityPercentage']}}%</p>
                        </div>
                    </div>
                </div>
            </ng-template>

        </div>

    </div>

</section>