<section class="rarity scroller">
    
    <div class="detail-container flex">
        <div class="heading-container top futuristic-container flex1">
            <p class="p-white-span-primary p34 orbitron">Rarity chart<br><span>- switch attribute<br>and rarity</span></p>
        </div>
        <div class="description-container futuristic-container top-only top-line-thin flex1">
            <div class="bottom flex">
                <div class="bottom-only no-padding">
                    <p class="mb20 info-text lh30">Buying MoonBoxes is a fun way the require rare NFTs, only available at Moonshot.</p>
                </div>
            </div>
            <div class="switch-container flex align-center">
                <p>Categorize on:</p>
                <div class="flex-space-between ml30">
                    <p class="mr10">Item</p>
                    <ui-switch class="rarity-switch" switchColor="#d5a642" defaultBoColor="#d5a642" (click)="doChangePancakeRouter()" [checked]="!sortedOnRarity"></ui-switch>
                    <p class="ml10">Rarity</p>
                </div>
            </div>
        </div>
    </div>

    <div class="items-container flex">
        
    </div>

</section>