<section class="scroller buy_moonbase" [ngClass]="{'bg-primary':invisible}">
    <div class="desktop-only flex-center align-items-center" [ngClass]="{'fadeout':fadeOut,'fade-in':popupClosed && !fadeOut}">

        <div class="moonbox-container flex1 flex-column flex-center">
            <div class="relative flex-center">
                <div class="relative moonbox wood" [class.disabled]="inputnumber[1]==0 && !supplyDetails[0]?.isUpcoming"></div>
                <img *ngIf="!isConnected  || (balanceOfMoon/1e9 < moonBoxLimitDetails?._moonboxId1/1e9)  || supplyDetails?.isUpcoming" src="assets/media/images/moonbox/Lock_moonbox.svg" alt="" class="img-fluid lock">
            </div>
            <div class="text-center">
                <p *ngIf="supplyDetails!==undefined" class="p-white-span-primary p16d14m  mb10 mt10">{{lootBoxDetails[0].name}} (<span *ngIf="maxSupply[0] !== undefined">{{maxSupply[0]}}</span>)</p>
                <p class="p-white-span-primary p16d14m mb10">{{priceForMoonBox == 0 ? '-' : priceForMoonBox}} BNB</p>
                <div class="border plus_minus flex mb20" *ngIf="inputnumber[1]>0">
                    <!-- *ngIf="isConnected && !isWrongNetwork && maxSupply[0]>0" -->

                    <div class="flex1">
                        <input type="text" class="form-control" [(ngModel)]="inputnumber[1]" readonly>
                    </div>

                </div>
                <div class="soldout plus_minus flex justify-center" *ngIf="inputnumber[1] == 0 && this.maxSupply[0] === 0">Sold Out</div>
                <div class="tooltip" [class.reveal]="isTooltipActive[0] && !isConnected">
                    <div class="row">Please connect your wallet</div>
                </div>
                <a *ngIf="!isWrongNetwork" class="buy_button outlined-button mb10 text-inherit" [class.disabled]="isWrongNetwork || this.maxSupply[0] === 0" (click)="buyMoonBase(1)" (mouseover)="isTooltipActive[0] = true" (mouseleave)="isTooltipActive[0] = false">Buy</a>

                <a *ngIf="isWrongNetwork" class="buy_button outlined-button mb10 text-inherit">You are connected to the wrong network</a>

            </div>
        </div>
        <div class="moonbox-container flex1 flex-center flex-column">
            <div class="relative flex-center">
                <div class="relative moonbox silver" [class.disabled]="inputnumber[2]==0 && !supplyDetails[1]?.isUpcoming"></div>
                <img *ngIf="!isConnected  || (balanceOfMoon/1e9 < moonBoxLimitDetails?._moonboxId2/1e9)  || supplyDetails?.isUpcoming" src="assets/media/images/moonbox/Lock_moonbox.svg" alt="" class="img-fluid lock">
            </div>
            <div class="text-center">
                <p *ngIf="supplyDetails!==undefined" class="p-white-span-primary p16d14m mb10 mt10">{{lootBoxDetails[1]?.name}} (<span *ngIf="maxSupply[1] !== undefined">{{maxSupply[1]}}</span>)</p>
                <p class="p-white-span-primary p16d14m mb10">{{priceForMoonBox == 0 ? '-' : priceForMoonBox}} BNB</p>
                <div class="border plus_minus flex mb20" *ngIf="inputnumber[2]>0">

                    <div class="flex1 ">
                        <input type="text" class="form-control" [(ngModel)]="inputnumber[2]" readonly>
                    </div>

                </div>
                <div class="soldout plus_minus flex justify-center" *ngIf="inputnumber[2]==0 && this.maxSupply[1] === 0">
                    Sold Out
                </div>
                <div class="tooltip" [class.reveal]="isTooltipActive[1] && !isConnected">
                    <div class="row">Please connect your wallet</div>
                    <i></i>
                </div>
                <a *ngIf="!isWrongNetwork" class="buy_button outlined-button mb10 text-inherit" (click)="buyMoonBase(2)" [class.disabled]="isWrongNetwork || this.maxSupply[1] === 0" (mouseover)="isTooltipActive[1] = true" (mouseleave)="isTooltipActive[1] = false">Buy</a>
                <a *ngIf="isWrongNetwork" class="buy_button outlined-button mb10 text-inherit">You are connected to the wrong network</a>

            </div>
        </div>
        <div class="moonbox-container flex1 flex-column flex-center">
            <div class="relative flex-center">
                <div class="relative moonbox gold" [class.disabled]="inputnumber[3]==0 && !supplyDetails[2]?.isUpcoming"></div>
                <img *ngIf="!isConnected  || (balanceOfMoon/1e9 < moonBoxLimitDetails?._moonboxId3/1e9)  || supplyDetails?.isUpcoming" src="assets/media/images/moonbox/Lock_moonbox.svg" alt="" class="img-fluid lock">
            </div>
            <div class="text-center">
                <p *ngIf="supplyDetails!==undefined" class="p-white-span-primary p16d14m mb10 mt10">{{lootBoxDetails[2].name}} (<span *ngIf="maxSupply[2] !== undefined">{{maxSupply[2]}}</span>)</p>
                <p class="p-white-span-primary p16d14m mb10">{{priceForMoonBox == 0 ? '-' : priceForMoonBox}} BNB</p>
                <div class="border plus_minus flex mb20" *ngIf="inputnumber[3]>0">

                    <div class="flex1 ">
                        <input type="text" class="form-control" [(ngModel)]="inputnumber[3]" readonly>
                    </div>

                </div>
                <div class="soldout plus_minus flex justify-center" *ngIf="inputnumber[3]==0 && this.maxSupply[2] === 0">
                    Sold Out
                </div>
                <div class="tooltip" [class.reveal]="isTooltipActive[2] && !isConnected">
                    <div class="row">Please connect your wallet</div>
                    <i></i>
                </div>
                <a *ngIf="!isWrongNetwork" class="buy_button outlined-button mb10 text-inherit" (click)="buyMoonBase(3)" [class.disabled]="isWrongNetwork || this.maxSupply[2] === 0" (mouseover)="isTooltipActive[2] = true" (mouseleave)="isTooltipActive[2] = false">Buy</a>
                <a *ngIf="isWrongNetwork" class="buy_button outlined-button mb10 text-inherit">You are connected to the wrong network</a>

            </div>
        </div>
        <div class="moonbox-container flex1 flex-center flex-column">
            <div class="relative flex-center">
                <div class="relative moonbox diamond" [class.disabled]="inputnumber[4]==0 && !supplyDetails[3]?.isUpcoming"></div>
                <img *ngIf="!isConnected || (balanceOfMoon/1e9 < moonBoxLimitDetails?._moonboxId4/1e9) || supplyDetails?.isUpcoming" src="assets/media/images/moonbox/Lock_moonbox.svg" alt="" class="img-fluid lock">
            </div>
            <div class="text-center">
                <p *ngIf="supplyDetails!==undefined" class="p-white-span-primary p16d14m mb10 mt10">{{lootBoxDetails[3].name}} (<span *ngIf="maxSupply[3] !== undefined">{{maxSupply[3]}}</span>)</p>
                <p class="p-white-span-primary p16d14m mb10">{{priceForMoonBox == 0 ? '-' : priceForMoonBox}} BNB</p>
                <div class="border plus_minus flex mb20" *ngIf="inputnumber[4]>0">

                    <div class="flex1">
                        <input type="text" class="form-control" [(ngModel)]="inputnumber[4]" readonly>
                    </div>

                </div>
                <div class="soldout plus_minus flex justify-center" *ngIf="inputnumber[4]==0 && this.maxSupply[3] === 0">
                    Sold Out
                </div>
                <div class="tooltip" [class.reveal]="isTooltipActive[3] && !isConnected">
                    <div class="row">Please connect your wallet</div>
                    <i></i>
                </div>
                <a *ngIf="!isWrongNetwork" class="buy_button outlined-button mb10 text-inherit" (click)="buyMoonBase(4)" [class.disabled]="isWrongNetwork || this.maxSupply[3] === 0" (mouseover)="isTooltipActive[3] = true" (mouseleave)="isTooltipActive[3] = false">Buy</a>
                <a *ngIf="isWrongNetwork" class="buy_button outlined-button mb10 text-inherit">You are connected to the wrong network</a>

            </div>
        </div>
    </div>

    <div class="h-100 mobile-only shirts-carousel flex-col align-center justify-center px-3 pt-5 w-100" [ngClass]="{'fadeout':fadeOut,'fade-in':popupClosed && !fadeOut}">
        <div class="shirts-carousel flex group-img justify-space-between align-center wp100">
            <div class="round-mini-button" (click)="prev()">
                <mat-icon fontSet="material-icons" class="color-primary">arrow_back</mat-icon>
            </div>
            <div class="relative center">
                <div class="relative moonbox {{lootboxfloating[current]}}" [class.disabled]="inputnumber[current+1]==0 && !supplyDetails[current]?.isUpcoming"></div>
                <!-- <img src={{lootBoxDetails[current].img}} alt="moonticket" /> -->
                <img *ngIf="!isConnected  || (balanceOfMoon/1e9 < (moonBoxLimitDetails && moonBoxLimitDetails[current]/1e9))  || (supplyDetails && supplyDetails[current]?.isUpcoming)" src="./../../../../assets/media/images/moonbox/Lock_moonbox.svg" alt="" class="img-fluid lock">
            </div>
            <div class="round-mini-button" (click)="next()">
                <mat-icon fontSet="material-icons" class="color-primary">arrow_forward</mat-icon>
            </div>
        </div>

        <div class="flex-col text-center">
            <p *ngIf="supplyDetails!==undefined" class="p-white-span-primary p16d14m  mb10 mt10">{{lootBoxDetails[current].name}} (<span *ngIf="maxSupply[current] !== undefined">{{maxSupply[current]}}</span>)</p>
            <p class="p-white-span-primary p16d14m mb10">{{priceForMoonBox == 0 ? '-' : priceForMoonBox}} BNB</p>
            <div class="border plus_minus flex mb20" *ngIf="inputnumber[current+1]>0">

                <div class="flex1">
                    <input type="text" class="form-control" [(ngModel)]="inputnumber[current+1]" readonly>
                </div>

            </div>
            <div class="soldout plus_minus flex justify-center" *ngIf="inputnumber[current+1]==0">
                Sold Out
            </div>
            <div class="plus_minus flex mb20 justify-center" *ngIf="supplyDetails && supplyDetails[current]?.isUpcoming">
                Coming soon!
            </div>
            <a *ngIf="!isWrongNetwork" class="buy_button outlined-button mb10 text-inherit" (click)="buyMoonBase(current+1)" [class.disabled]="isWrongNetwork || this.maxSupply[3] === 0">Buy</a>
            <a *ngIf="isWrongNetwork" class="buy_button outlined-button mb10 text-inherit">You are connected to the wrong network</a>
        </div>
    </div>

    <p *ngIf="!isConnected" class="mt50 fade-in pointer" (click)="openDialog()">Please connect your wallet</p>
</section>