<section class="scroller buy_moonbase" [ngClass]="{'bg-primary':invisible}">

    <div class="flex-center main-message-container w-100 h-100 text-center pa20">
        {{mainMessage}}
        <div *ngIf="isConnected; else loggedOut">
            <img *ngIf="mainMessage === messages.IDLE && !supply" class="flex" src="assets/media/videos/Loading.gif" alt="loading" />
        </div>
        
        <ng-template #loggedOut>
            <p class="mt50 fade-in-delayed pointer" (click)="openDialog()">Please connect your wallet</p>
        </ng-template>
    </div>

    <div *ngIf="isConnected" class="flex-center align-items-center w-100" [ngClass]="{'fadeout':fadeOut,'fade-in':popupClosed && !fadeOut}">

        <div class="flex w-100">
            <div class="flex flex-col w-100 boxes-title-container">
                <div class="artist-details flex-center flex-col">
                    <p class="p-white-span-primary p30d24m orbitron mb10">The Moonshooter NFT Series</p>
                    <p class="p18 orbitron mb10">Moonshot</p>
                </div>
            </div>
        </div>


        <div *ngFor="let box of supply; let i = index; trackBy: trackByFn;" class="moonbox-container flex1 align-center" [class.selected]="current === i">
            <div class="round-mini-button" (click)="next(-1)">
                <mat-icon fontSet="material-icons" class="color-primary">arrow_back</mat-icon>
            </div>
            <div class="content flex-center flex-column">
                <div class="relative flex-center">
                    <div class="relative moonbox {{box.type.toLowerCase()}}" [class.disabled]="!hasEnoughMoonshots(i) || box.currentSupply === 0"></div>
                    <img *ngIf="!isConnected  || (balance/1e9 < moonBoxLimitDetails?._moonboxId1/1e9)" src="assets/media/images/moonbox/Lock_moonbox.svg" alt="" class="img-fluid lock">
                </div>
                <div class="text-center">
                    <p class="p-white-span-primary p16d14m  mb10 mt10">{{box.type}} (<span>{{box.currentSupply}}</span>)</p>
                    <p class="p-white-span-primary p16d14m mb10">{{priceForMoonBox === 0 ? '-' : priceForMoonBox}} BNB</p>
                    <div class="border plus_minus flex mb20" *ngIf="box.currentSupply > 0">

                        <div class="flex1">
                            <input type="text" class="form-control" [(ngModel)]="inputnumber[i]" readonly>
                        </div>

                    </div>
                    <div class="soldout plus_minus flex justify-center" *ngIf="box.currentSupply === 0">Sold Out</div>
                    <div class="tooltip" [class.reveal]="isTooltipActive[i] && !isConnected">
                        <div class="row">Please connect your wallet</div>
                    </div>
                    <a *ngIf="!isWrongNetwork" class="buy_button outlined-button mb10 text-inherit" [class.disabled]="!hasEnoughMoonshots(i) || box.currentSupply === 0" (click)="buyMoonBase(i)" (mouseover)="isTooltipActive[i] = true" (mouseleave)="isTooltipActive[i] = false">Buy</a>

                    <a *ngIf="isWrongNetwork" class="buy_button outlined-button mb10 text-inherit">You are connected to the wrong network</a>

                </div>
            </div>
            <div class="round-mini-button" (click)="next(+1)">
                <mat-icon fontSet="material-icons" class="color-primary">arrow_forward</mat-icon>
            </div>
        </div>

    </div>
</section>