@import "includes";
.scroller .desktop-only {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
}

.scroller {
    max-height: calc(100vh - 70px) !important;
    margin-bottom: 70px !important;
}

.d-block {
    display: block !important;
}

.sell-button {
    color: gray;
    border-color: gray !important;
    cursor: pointer;
    &:hover {
        border-color: gray !important;
    }
}

.flex1.flex-column.flex-center {
    flex: 0 0 33.333333%;
}

// .tooltip .bottom {
//     width: 210px;
//     right: 90px !important;
//     transform: translate(56%, 100%) scaleY(1) scaleX(1) !important;
// }
// .tooltip .bottom i {
//     margin-left: 0px;
// }
.flex .tooltip .bottom {
    width: 210px;
    //top: 0px;
    transform: translate(30%, -200%) scaleY(1); //translate(-32%, -100%) scaleY(-1) scaleX(1);
    padding: 20px 20px;
    color: white;
    background-color: black;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 0;
    transition: opacity 0.8s;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.69;
    text-align: left;
    -webkit-transition: .3s all;
    -webkit-transition-delay: .3s;
    -moz-transition: .3s all;
    -moz-transition-delay: .3s;
    -ms-transition: .3s all;
    -ms-transition-delay: .3s;
    -o-transition: .3s all;
    -o-transition-delay: .3s;
    transition: .3s all;
    transition-delay: .3s;
    .row {
        display: flex;
        flex-direction: row;
        justify-content: start;
        /* align children centered vertically */
        align-items: flex-start;
        /* align children centered horizontally */
        .close-button {
            cursor: pointer;
            display: flex;
            height: 24px;
            width: 24px;
            align-self: start;
            margin-top: 10px;
            filter: brightness(0) invert(1);
            margin-right: 20px;
            &:hover {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.close-tooltip {
    visibility: hidden !important;
    //opacity: 0 !important;
    -webkit-transition-delay: -0.3s !important;
    -moz-transition-delay: -0.3s !important;
    -ms-transition-delay: -0.3s !important;
    -o-transition-delay: -0.3s !important;
    transition-delay: -0.3s !important;
}

.flex .tooltip:hover .bottom {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.flex .tooltip .bottom i {
    position: absolute;
    bottom: -10px;
    left: 52.5%;
    margin-left: -52px;
    width: 24px;
    height: 12px;
    overflow: hidden;
    transform: scaleY(1);
}

.flex .tooltip .bottom i::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scaleY(-1);
    background-color: black;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.inner {
    .nft_img {
        img,
        video {
            width: 200px;
            height: 200px;
            border: 1px solid;
            padding: 4px;
            object-fit: cover;
        }
    }
}

.nft_img {
    img,
    video {
        width: 200px;
        height: 200px;
        border: 1px solid;
        padding: 4px;
        object-fit: cover;
    }
}

.inner .nft_img:hover img,
.inner .nft_img:hover video {
    border: 1px solid white !important;
}

.inner .outer-box img,
.inner .outer-box video {
    height: 350px !important;
    width: 350px !important;
}

.inner img.lock {
    border: none;
    width: 35px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}

.img-fluid {
    width: 200px;
    height: 200px;
    border: 1px solid;
    padding: 4px;
    object-fit: cover;
}

.attribute-img>img {
    height: 350px !important;
    width: 350px !important;
}

.plus_minus div,
.plus_minus button,
.plus_minus input {
    padding: 0.4375rem 1.25rem;
    background: transparent;
    border: none;
    color: white;
}

.plus_minus div.border_left_right {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.border {
    border: 1px solid #fff;
}

.border.plus_minus.flex {
    max-width: 200px;
    border-radius: 30px;
}

.border_left_right input {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.buy_button {
    max-width: 150px;
    margin: auto;
}

.flex-column {
    flex-direction: column;
}

.py-100 {
    padding: 100px 0 170px;
    box-sizing: border-box;
}

.outer-box {
    border: 1px solid;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    justify-content: flex-start;
    // position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: 20px;
    margin-right: 20px;
    .inside-box {
        align-items: center;
    }
}

.border-bottom {
    border-bottom: 2px solid #d5a642;
}

svg#attibute_close path {
    fill: #d5a642;
}

.full-div {
    flex: 0 0 100%;
    display: flex;
    flex-flow: wrap;
}

.mobile-only {
    .outer-box {
        padding: 0;
        margin-top: 1rem;
    }
    .outer-box>div {
        padding: 1rem;
    }
}

.break-word {
    word-break: break-word;
}

@media only screen and (max-width: $md-header) {
    .scroller {
        max-height: calc(100vh - 50px) !important;
        padding-bottom: 40px;
        margin-bottom: 0px !important;
    }
}