<section class="navigation">
    <nav class="flex-space-between">
        <div class="logo-container flex">
            <a class="flex-center" [routerLink]="['']">
                <img class="logo" src="assets/media/icons/moonbase/nav/logo-black.svg" alt="moonshot logo">

                <p class="text-dark pl5">MoonBase</p>
            </a>
        </div>
        <!-- <div class="mob-menu" [class.open]="open" (click)="open = !open">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div> -->
        <ul class="menubar flex">
            <li *ngFor="let item of navItems" [ngClass]="{'nav-item': item.allPaths.includes(this.router.url)}">
                <a [routerLink]="[item.path]" routerLinkActive="router-link-active">{{item.name}}
           </a>
            </li>
            <!-- <a [routerLink]="['']">Jim</a> -->
        </ul>
        <div class="block flex-center">
            <img class="close-moonbase" (click)="closeMoonbase()" src="assets/media/icons/moonbase/nav/close.svg">
        </div>
    </nav>
    <div class=" flex-space-between align-start mt20 sub-item-container" style="margin-top: 0px;position: absolute;bottom: -60px;width: 100%;">
        <div class="info flex3">
            <div class="shape text-center bottom flex ph50 " style="transform: rotate(180deg);">
                <div class="minus570"></div>
                <div class="flex1 no-padding" style="border-bottom: 61px solid #d5a642; border-left: 60px solid transparent; border-right: 60px solid transparent; height: 0; color: black;">
                    <ul class="justify-around">
                        <li *ngFor="let item of navSubItems">
                            <div class="tooltip">
                                <img class="nav-bar-sub-item" src="{{item.icon}}">
                                <div class="bottom" [ngClass]="{'close-tooltip': !this.isTooltipActive}" (mouseleave)="this.isTooltipActive = true">
                                    <div class="row">
                                        <img class="close-button" (click)="closeTooltip()" src="assets/media/icons/moonbase/nav/close.svg">
                                        <p>{{item.tooltip}}</p>
                                    </div>
                                    <i></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="minus570"></div>
            </div>
        </div>
    </div>
</section>