<section class="navigation">
    <nav class="flex-space-between">
        <div class="logo-container flex">
            <a class="flex-center" [routerLink]="['']">
                <!-- <img class="logo" src="assets/media/images/logo.png" alt="moonshot logo"> -->
                <svg version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38 38" style="enable-background:new 0 0 38 38;width: 25px;" xml:space="preserve">
                   <g>
                       <path d="M2,37c0,0,4.2-0.4,6.1-2.4c1.9-2,1.9-3.7,0.9-4.7c-0.4-0.4-1-0.7-1.6-0.7c-0.9,0-2,0.5-3.1,1.7C2.3,32.9,2,37,2,37"/>
                       <path d="M35.8,1.4c0-0.2-0.1-0.3-0.4-0.3c-0.6-0.1-2.6-0.2-4.8,0.1c-2.2,0.3-2.2,0.4-3.3,0.8c-1.2,0.4-2.4,0.9-3.5,1.5
                           c-1.1,0.6-2.1,1.4-3.1,2.2c-0.6,0.5-1.1,1-1.7,1.6c-0.8,0.9-1.6,1.8-2.3,2.8c-0.7,0.9-1.3,1.9-1.9,2.9c-0.1,0.2-0.3,0.5-0.4,0.8
                           c-0.3,0.6-0.7,0.9-1.3,1c-0.9,0.2-1.7,0.3-2.6,0.7c-1.1,0.5-2.1,1.1-3,1.9C4.3,20.1,3,23.5,3,23.5c0,0,0,0,0.1,0
                           c1.7,0.5,3.4,1,5,1.6c0.3,0.1,0.6,0.2,0.8,0.3C9,25.5,9.1,25.6,9,25.8c-0.1,0.5-0.3,1-0.4,1.6c-0.1,0.3-0.1,0.3,0.2,0.5
                           c0.4,0.2,0.9,0.4,1.1,0.6c0.3,0.3,0.5,0.6,0.7,1.1c0.1,0.3,0.1,0.3,0.5,0.2c0.5-0.2,1-0.3,1.5-0.5c0.2-0.1,0.2,0,0.3,0.1
                           c0.1,0.3,0.3,0.5,0.4,0.8c0.6,1.6,1.3,3.3,1.9,4.9c0,0,0,0.1,0.1,0.1c0,0,3.3-1.5,5.9-4.8c0.7-1,1.3-2,1.7-3.1
                           c0.3-0.9,0.4-1.7,0.5-2.6c0.1-0.6,0.4-1.1,1-1.4c0.3-0.1,0.5-0.3,0.7-0.4c1-0.6,1.9-1.3,2.8-2.1c0.9-0.8,1.8-1.6,2.6-2.5
                           c0.5-0.6,1-1.2,1.5-1.8c0.8-1,1.4-2.1,2-3.2c0.6-1.1,1-2.3,1.3-3.6c0.3-1.1,0.4-1.2,0.5-3.4C36.1,4.1,35.9,2,35.8,1.4z M24.7,14.9
                           c-2.5,2.6-5.4,4-5.4,4c0,0,1.1-3,3.6-5.6c2.5-2.6,4.9-4.4,5.4-4C28.8,9.8,27.2,12.3,24.7,14.9z"/>
                   </g>
               </svg>
                <p class="text-dark pl5">MoonBase</p>
            </a>
        </div>
        <div class="mob-menu" [class.open]="open" (click)="open = !open">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menubar flex">
            <li *ngFor="let item of navItems" [ngClass]="{'nav-item': item.allPaths.includes(this.router.url)}">
                <a [routerLink]="[item.path]" routerLinkActive="router-link-active">{{item.name}}
           </a>
            </li>
            <!-- <a [routerLink]="['']">Jim</a> -->
        </ul>
        <div class="block flex-center">

        </div>
    </nav>
    <div class="inner flex-space-between align-start mt20" style="margin-top: 0px;position: absolute;bottom: -60px;width: 100%;">
        <div class="info flex3">
            <div class="shape text-center bottom flex ph50" style="transform: rotate(180deg);">
                <div class="flex1 no-padding"></div>
                <div class="flex1 no-padding" style="border-bottom: 61px solid #d5a642; border-left: 60px solid transparent; border-right: 60px solid transparent; height: 0; color: black;">
                    <ul class="justify-around">
                        <li *ngFor="let item of navSubItems">
                            <div class="tooltip">
                                <img class="nav-bar-sub-item" src="{{item.icon}}">
                                <div class="bottom" [ngClass]="{'close-tooltip': !this.isTooltipActive}" (mouseleave)="this.isTooltipActive = true">
                                    <div class="row">
                                        <img class="close-button" (click)="closeTooltip()" src="assets/media/icons/moonbase/nav/close.svg">
                                        <p>{{item.tooltip}}</p>
                                    </div>
                                    <i></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flex1 no-padding"></div>
            </div>
        </div>
    </div>
</section>