@import "includes";
.scroller {
    max-height: calc(100vh - 110px);
    overflow: auto;
    margin-top: 70px;
    height: max-content;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 118px);
    max-width: 90vw;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    >.inner {
        width: 100%;
    }
}

.invisible {
    visibility: hidden;
}

.pt-5 {
    padding-top: 3rem;
}

.align-start {
    align-self: flex-start;
}

.lock {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
    right: 0px;
}

.img-small {
    width: 70px;
    height: 70px;
}

.border-thick:hover {
    border-bottom: 4px solid #d5a642;
}

.border-thick {
    cursor: pointer;
    border-bottom: 4px solid transparent;
}

.mw-50 {
    min-width: 50vw;
}

.mh-75 {
    max-height: 75vh;
}

.img-cover {
    max-height: 55vh;
    object-fit: cover;
}

.pt-3 {
    padding-top: 1rem;
}

#more path {
    fill: #d5a642;
}

.round-mini-button {
    display: none;
}

.moonbox {
    width: 210px;
    height: calc(12600px / 60);
    animation: animate 2s steps(60) infinite;
    transition: all 1s ease;
    margin: 0 auto;

    &.disabled {
        filter: saturate(0);
    }
}

.wood {
    background-image: url('/assets/media/sprites/moonboxes/wood.png');
}

.silver {
    background-image: url('/assets/media/sprites/moonboxes/silver.png');
}

.gold {
    background-image: url('/assets/media/sprites/moonboxes/gold.png');
}

.diamond {
    background-image: url('/assets/media/sprites/moonboxes/diamond.png');
}

@keyframes animate {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 12600px;
    }
}

.soldout {
    margin: 28px 0;
}

.artist-popup {
    background: #090d16;
    border-top: 6px solid #d5a642;
    max-height: calc(100vh - 280px);
    min-height: calc(100vh - 280px);
}

.plus_minus div,
.plus_minus button,
.plus_minus input {
    padding: 0.4375rem 1.25rem;
    background: transparent;
    border: none;
    color: white;
}

.plus_minus button {
    padding-top: 0.65rem;
}

.plus_minus div.border_left_right {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

button.plus, button.minus {
    &:hover > svg > path {
        fill: $primary;
    }
    &:active > svg > path {
        fill: white;
    }
}

.border {
    border: 1px solid #fff;
}

.soldout {
    margin: 28px 0;
}

.border.plus_minus.flex {
    max-width: 200px;
    border-radius: 30px;
}

.border_left_right input {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.tooltip {
    visibility: hidden;
    display: flex;
    position: absolute;
    //top: 0px;
    width: 210px;
    padding: 20px 10px;
    color: white;
    background-color: black;
    justify-content: center;
    align-content: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    z-index: 999;
    margin-top: -145px;
    margin-left: -15px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.8s;
    -webkit-transition: .3s all;
    -webkit-transition-delay: .3s;
    -moz-transition: .3s all;
    -moz-transition-delay: .3s;
    -ms-transition: .3s all;
    -ms-transition-delay: .3s;
    -o-transition: .3s all;
    -o-transition-delay: .3s;
    transition: .3s all;
    transition-delay: .3s;
    &.reveal {
        opacity: 1;
        visibility: visible;
    }
    >i::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        left: 50%;
        transform: translate(-50%, 200%) rotate( 45deg) scaleY(-1);
        background-color: black;
        box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .pt-md-200 {
        padding-top: 0px; //200px;
        box-sizing: border-box;
    }
    .pt-md-100 {
        padding-top: 0px; //200px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: $md-header) {
    .boxes-title-container {
        padding-top: 0px;
    }

    .all-boxes {
        justify-content: center;
    }

    .moonbox-container {
        display: none;
        flex: initial;
        > .content { padding: 0 10px; }

        &.selected {
            display: flex;
        }
    }

    .round-mini-button {
        display: flex;
    }
}

@media only screen and (max-width: $md) {
    .tooltip {
        margin-top: 48px;
    }
}

@media only screen and (max-width: $sm) {
    .pt-md-200 {
        padding-top: 100px; //200px;
        box-sizing: border-box;
    }
    .pt-md-100 {
        padding-top: 0px; //200px;
        box-sizing: border-box;
    }
}