@import "includes";
.scroller {
    max-height: calc(100vh - 110px);
    overflow: auto;
    margin-top: 70px;
    height: max-content;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 118px);
    max-width: 90vw;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    >.inner {
        width: 100%;
    }
}

.invisible {
    visibility: hidden;
}

.pt-5 {
    padding-top: 3rem;
}

.align-start {
    align-self: flex-start;
}

.lock {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
    right: 0px;
}

.img-small {
    width: 70px;
    height: 70px;
}

.border-thick:hover {
    border-bottom: 4px solid #d5a642;
}

.border-thick {
    cursor: pointer;
    border-bottom: 4px solid transparent;
}

.mw-50 {
    min-width: 50vw;
}

.mh-75 {
    max-height: 75vh;
}

.img-cover {
    max-height: 55vh;
    object-fit: cover;
}

.pt-3 {
    padding-top: 1rem;
}

#more path {
    fill: #d5a642;
}

.round-mini-button {
    display: none;
}

.moonbox {
    width: 210px;
    height: calc(12600px / 60);
    animation: animate 2s steps(60) infinite;
    transition: all 1s ease;
    margin: 0 auto;
    &.disabled {
        filter: saturate(0);
    }
}

.wood {
    background-image: url('/assets/media/sprites/moonboxes/wood.png');
}

.silver {
    background-image: url('/assets/media/sprites/moonboxes/silver.png');
}

.gold {
    background-image: url('/assets/media/sprites/moonboxes/gold.png');
}

.diamond {
    background-image: url('/assets/media/sprites/moonboxes/diamond.png');
}

@keyframes animate {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 12600px;
    }
}

.soldout {
    margin: 28px 0;
}

.artist-popup {
    background: #090d16;
    border-top: 6px solid #d5a642;
    max-height: calc(100vh - 280px);
    min-height: calc(100vh - 280px);
}

.plus_minus div,
.plus_minus button,
.plus_minus input {
    padding: 0.4375rem 1.25rem;
    background: transparent;
    border: none;
    color: white;
}

.plus_minus button {
    padding-top: 0.65rem;
}

.plus_minus div.border_left_right {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

button.plus,
button.minus {
    &:hover>svg>path {
        fill: $primary;
    }
    &:active>svg>path {
        fill: white;
    }
}

.border {
    border: 1px solid #fff;
}

.soldout {
    margin: 28px 0;
}

.border.plus_minus.flex {
    max-width: 200px;
    border-radius: 30px;
}

.border_left_right input {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.tooltip {
    visibility: hidden;
    display: flex;
    position: absolute;
    //top: 0px;
    width: 210px;
    padding: 20px 10px;
    color: white;
    background-color: black;
    justify-content: center;
    align-content: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    z-index: 999;
    margin-top: -145px;
    margin-left: -15px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.8s;
    -webkit-transition: .3s all;
    -webkit-transition-delay: .3s;
    -moz-transition: .3s all;
    -moz-transition-delay: .3s;
    -ms-transition: .3s all;
    -ms-transition-delay: .3s;
    -o-transition: .3s all;
    -o-transition-delay: .3s;
    transition: .3s all;
    transition-delay: .3s;
    &.reveal {
        opacity: 1;
        visibility: visible;
    }
    >i::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        left: 50%;
        transform: translate(-50%, 200%) rotate( 45deg) scaleY(-1);
        background-color: black;
        box-shadow: 0 1px 8px rgb(0 0 0 / 50%);
        margin-top: 20px;
    }
}

.artist-info-popup {
    background: #090d16;
    border: 1px solid #d5a642;
    max-height: 500px;
    padding: 15px;
}

.artist-popup-info-container {
    width: 100%;
    justify-self: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    .descripton-section {
        border: 1px solid $primary;
        //min-width: 420px;
        max-height: 350px;
        height: 100%;
        width: 100%;
        p {
            word-break: break-word;
            text-align: left;
            width: 100%;
            padding: 10px;
            overflow: auto;
        }
    }
    .social-icons-container {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(6, minmax(60px, 150px));
        align-items: flex-start;
        justify-content: space-between;
        li {
            overflow: auto;
            @extend %flex-center;
            margin-top: 20px;
            a {
                display: flex;
                background: #d5a642;
                border-radius: 50px;
                width: fit-content;
                padding: 15px;
                &:hover {
                    background-color: white;
                }
            }
            img {
                width: 30px;
                height: 30px;
                border: none;
            }
        }
    }
}

.series-detail {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid $primary;
    .name-section {
        width: 100%;
        justify-self: flex-start;
        align-items: flex-start;
        .series-name {
            color: #fff;
            font-family: $primary-font;
            font-size: 16px;
            font-weight: 700;
            text-align: left;
        }
        .series-artist-name {
            color: $primary;
            font-family: $primary-font;
            font-size: 17px;
            font-weight: 700;
            text-align: left;
        }
    }
    svg path {
        fill: #d5a642;
    }
}

section.carousel {
    max-height: 470px;
    max-width: 470px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #d5a642;
}

swiper {
    padding-top: 0px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.nft-image-container {
    max-height: 470px;
    max-width: 470px;
    width: 100%;
    height: 100%;
    background: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    img {
        display: flex;
        height: 100%;
        width: 100%;
        align-self: center;
        object-fit: contain;
    }
}

.landing-intro-nft-image-container-mobile {
    display: none;
}

.nft-image-container {
    max-width: 470px;
    max-height: 470px;
    background: transparent;
    width: 100%;
    height: 100%;
}

.only-desktop {
    display: flex !important;
}

.only-mobile-and-tablet {
    display: none !important;
}

section.carousel-mobile {
    display: none;
    swiper {
        padding-top: 0px !important;
        -webkit-mask-composite: intersect;
        -webkit-mask-composite: source-in;
        -webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%, transparent), linear-gradient(to right, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%, transparent);
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .pt-md-200 {
        padding-top: 0px; //200px;
        box-sizing: border-box;
    }
    .pt-md-100 {
        padding-top: 0px; //200px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: $md-header) {
    .scroller {
        max-height: initial;
        height: calc(100vh - 110px);
        >.inner {
            justify-content: center;
        }
    }
    .boxes-title-container {
        padding-top: 0px;
    }
    .all-boxes {
        justify-content: center;
    }
    .moonbox-container {
        display: none;
        flex: initial;
        >.content {
            padding: 0 10px;
        }
        &.selected {
            display: flex;
        }
    }
    .round-mini-button {
        display: flex;
    }
    section.carousel-mobile {
        display: flex;
        margin-bottom: 10px;
    }
    section.carousel {
        display: none;
    }
    .artist-popup-info-container {
        margin-left: 0px;
        .descripton-section {
            min-width: 0px;
            height: 20vh;
        }
    }
    .artist-info-popup {
        max-height: 90vh;
        flex-direction: column;
        margin-top: 80px;
    }
    .nft-image-container {
        max-width: 100px;
        max-height: 100px;
        padding: 10px;
        border: 1px solid $primary;
        background-color: black;
    }
    .series-detail {
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .only-desktop {
        display: none !important;
    }
    .only-mobile-and-tablet {
        display: flex !important;
    }
}

.disabled-icon {
    background: gray !important;
    cursor: unset !important;
}

.disabled-plus-minus {
    cursor: unset !important;
    pointer-events: none;
    color: gray !important;
    border-color: gray;
    svg>path {
        fill: gray;
    }
    div.border_left_right {
        color: gray;
        border-color: gray;
        input {
            color: gray;
        }
    }
}

@media only screen and (max-width: $md) {
    .tooltip {
        margin-top: 48px;
    }
}

@media only screen and (max-width: $sm) {
    .pt-md-200 {
        padding-top: 100px; //200px;
        box-sizing: border-box;
    }
    .pt-md-100 {
        padding-top: 0px; //200px;
        box-sizing: border-box;
    }
    .artist-popup-info-container {
        .social-icons-container {
            grid-template-columns: repeat(3, 60px);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}