@import "includes";
.scroller {
    max-height: calc(100vh - 110px);
    overflow: auto;
    margin-top: 70px;
    height: max-content;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 118px);
    max-width: 90vw;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    >.inner {
        width: 100%;
    }
}

.pt-5 {
    padding-top: 3rem;
}

.align-start {
    align-self: flex-start;
}

.lock {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    left: 0px;
    right: 0px;
}

.img-small {
    width: 70px;
    height: 70px;
}

.connect_popup {
    background: #090d16;
    border-top: 6px solid #d5a642;
}

.border-thick:hover {
    border-bottom: 4px solid #d5a642;
}

.border-thick {
    cursor: pointer;
    border-bottom: 4px solid transparent;
}

.mw-50 {
    min-width: 50vw;
}

.mh-75 {
    max-height: 75vh;
}

.img-cover {
    max-height: 55vh;
    object-fit: cover;
}

.pt-3 {
    padding-top: 1rem;
}

#more path {
    fill: #d5a642;
}

.moonbox {
    width: 210px !important;
    height: calc(12600px / 60) !important;
    animation: animate 2s steps(60) infinite;
    transition: all 1s ease;
    cursor: pointer;
    margin: 0 auto;

    &.disabled {
        filter: saturate(0);
    }
}

.wood {
    background-image: url('/assets/media/sprites/moonboxes/wood.png');
}

.silver {
    background-image: url('/assets/media/sprites/moonboxes/silver.png');
}

.gold {
    background-image: url('/assets/media/sprites/moonboxes/gold.png');
}

.diamond {
    background-image: url('/assets/media/sprites/moonboxes/diamond.png');
}

@keyframes animate {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: 12600px;
    }
}

.bg-primary {
    background-color: #000000;
}

.invisible {
    visibility: hidden;
}

.artist-popup {
    max-height: calc(100vh - 280px) !important;
    min-height: calc(100vh - 280px) !important;
    margin-top: 20px !important;
    position: relative;
}

.plus_minus div,
.plus_minus button,
.plus_minus input {
    padding: 0.4375rem 1.25rem;
    background: transparent;
    border: none;
    color: white;
}

.plus_minus div.border_left_right {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.border {
    border: 1px solid #fff;
}

.soldout {
    margin: 28px 0;
}

.border.plus_minus.flex {
    max-width: 200px;
    border-radius: 30px;
}

.border_left_right input {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .pt-md-200 {
        padding-top: 0px; //200px;
        box-sizing: border-box;
    }
    .pt-md-100 {
        padding-top: 0px; //200px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: $md-header) {
    .boxes-title-container {
        padding-top: 0px;
    }
    
    .soldout {
        margin: 23px 0;
    }
}

@media only screen and (max-width: $sm) {
    .pt-md-200 {
        padding-top: 100px; //200px;
        box-sizing: border-box;
    }
    .pt-md-100 {
        padding-top: 0px; //200px;
        box-sizing: border-box;
    }
}