<video class="video" playsinline autoplay>
    <source src="assets/media/videos/Moonboxes_WOOD.mp4" type="video/mp4" />
    <source src="assets/media/videos/Moonboxes_WOOD.webm" type="video/webm" />
    Browser not supported
  </video>
  
  <video class="video" autoplay="autoplay" muted="">
    <source src="assets/media/videos/Moonboxes_WOOD.webm" type="video/webm" />
    Browser not supported
  </video>

   
<video class="video" autoplay="autoplay" preload="auto" muted="">
  <source src="https://www.w3schools.com/tags/movie.mp4" type="video/mp4">
  <source src="https://www.w3schools.com/tags/movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>